logs/
htdocs/www/upload/*
htdocs/www/bitrix/*
!/htdocs/www/bitrix/components/MP/
!/htdocs/www/bitrix/templates/MP/
access.log
error.log
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/bootstrap/*
htdocs/www/bootstrap/css/bootstrap.min.css
