logs/
htdocs/www/upload/
htdocs/www/bitrix/activities/
htdocs/www/bitrix/admin/
htdocs/www/bitrix/backup/
htdocs/www/bitrix/cache/
htdocs/www/bitrix/catalog_export/
htdocs/www/bitrix/components/bitrix/
htdocs/www/bitrix/fonts/
htdocs/www/bitrix/gadgets/
htdocs/www/bitrix/image_uploader/
htdocs/www/bitrix/images/
htdocs/www/bitrix/js/
htdocs/www/bitrix/managed_cache/
htdocs/www/bitrix/modules/
htdocs/www/bitrix/otp/
htdocs/www/bitrix/panel/
htdocs/www/bitrix/php_interface/
htdocs/www/bitrix/services/
htdocs/www/bitrix/sounds/
htdocs/www/bitrix/stack_cache/
htdocs/www/bitrix/template/
htdocs/www/bitrix/templates/.default/
htdocs/www/bitrix/themes/
htdocs/www/bitrix/tmp/
htdocs/www/bitrix/tools/
htdocs/www/bitrix/updates/
htdocs/www/bitrix/wizards/
htdocs/www/bitrix/*.php
htdocs/www/bitrix/*.xml
access.log
error.log