


/* Start:/bitrix/components/VM/baners/templates/.default/style.css*/
#baners{
	padding-top:40px;
	width:980px;
	margin:0 auto;
	text-align:center;
}
.slides_container .baner {
	width:980px;
}
.slides_container {
	height:400px;
	overflow:hidden;
	position:relative;
}
#baners .pagination {
	margin: 12px 0;
	width: 980px;
	text-align: center;
	z-index: 137;
	position: relative;
}
#baners .pagination li {
	display:inline-block;
	list-style:none;
	margin:0 6px;
	width:19px;
	height:19px;
	padding:1px;
}
#baners .pagination li a {
	display:block;
	width:19px;
	height:19px;
	font-size:0
}
.baner{
	width:800px;
	height:400px;
	margin: 0 auto;
}

#baners .next,
#baners .prev {
	position:absolute;
	width:57px;
	height:58px;
	display:none;
	z-index:101;
	margin-top: -230px;
}
#baners:hover .next,
#baners:hover .prev{display:block}
#baners .next{
	left:50%;
	margin-left:410px
}
#baners .prev{
	left:50%;
	margin-left:-470px
}
#baners .next,
#baners .prev ,
#baners .pagination li a {background:url('/bitrix/components/VM/baners/templates/.default/images/sprite.png') no-repeat}

#baners .prev															{background-position:0 0}
#baners .next															{background-position:0 -58px}
#baners .next:active 													{background-position:0 -174px}
#baners .prev:active 													{background-position:0 -116px}
#baners .pagination li a 													{background-position:0 -257px}
#baners .pagination li.current a 											{background-position:0 -238px}

#baners .pagination li:before {content: none !important;}
/* End */
/* /bitrix/components/VM/baners/templates/.default/style.css */
