/* VM.section */
h1 span.title{
	color:#8b000b;
	font-size:40px;
}
.page_text{
	font-size:26px;
	margin:1.5em 0;
}
/* ========= FILTR =========== */
#filtr{
	background:#E0EBEB;
	border:thin dotted #3D0000;
	position:relative;
	margin-bottom:25px;
	padding:15px 25px;
	vertical-align:top;
	font-size:14px;
}
.filtr_on,
.fltr_item{
	margin-right:5px;
	float:left;
}
#button_on{
	width:75px;
	height:32px;
	background-image: url("images/button_on.png");
	background-repeat:no-repeat;
    cursor: pointer;
}
.on{
	background-position:bottom left;
}
.off{
	background-position:top left;
}
.fltr_item{
	background-color:#F0F5F5;
	cursor:pointer;
}
.fltr_item:hover{
	background-color:#E0E0D1;
	color:#000;
}
.fltr_item_name{
	padding:18px 20px;
	font-weight:bold;
	font-size:1.5em;
}
.filtr_item_name_status{
	font-weight:normal;
	font-size:0.65em;
}
.fltr_item_options{
	padding:0 20px 18px 20px;
	display:none;
}
.fltr_item_options ul,
.fltr_item_options  li{
	list-style:none;
	margin:0;
	padding:0;
}
.fltr_sizes{
}
.filtr_size{
}
.fltr_colors{
	padding-left:25px;
}
.filtr_color{
	
}
.filtr_buttons{
	
}
.f_color_plate{
	width:15px;
	height:15px;
	margin-right:3px;
	border: thin solid #999;
	vertical-align:text-top;
}
/*- ------------  */
.tbl_goods_list td{
	font-size:0.85em;
	padding:0.15em 2em;
	border: thin solid #ccc;
}
.tbl_goods_list th{
	font-size:0.7em;
}
