table#basket_list { 
  width: 100%; 
  border-collapse: collapse; 
}
#basket_list td{
	border-bottom: thin dotted gray;
	padding:0.3em 0.8em 0.3em;
}
#basket_list td:last-of-type{
	border-bottom: thin dotted gray;
	padding-right:0;
	text-align:right;
}
.del_cross{
	background:transparent;
	border:none;
}
.del_item{
	color:black;
	cursor:pointer;
}
.del_item:hover{
	color:red;
}
#sum_basket{
	font-size:2em;
}
/*
#order{
	font-size:1.1em;
	background: green;
	padding:10px 20px;
	border:none;
	text-decoration:none;
	color: white;
	cursor:pointer;
}
*/
.cart_sub_sum,
.cart_disc{
	font-size:1.3em;
}
.cart_disc{
	color:red;
}
.td-quant input{
	text-align:center;
	width:100px;
}
.td-price, .td-sum{
	min-width:80px;
	text-align:center;
}
.td-price::after,
.td-sum::after,
#sum_basket::after,
.cart_disc::after,
.cart_sub_sum::after{
	font-size:80%;
	content:' руб.';
}
.td-del{
	text-align:right;
	margin-right:0;
	padding-right:0;
}

table#basket_list th,
.td-math,
.td-color{
	text-align:center;
}

input[type="number"]{
	padding:0.7em 1.2em;
	font-size:1.1em;
}

@media screen and (max-width:767px){
	table#basket_list, 
	table#basket_list thead, 
	table#basket_list tbody, 
	table#basket_list th, 
	table#basket_list td, 
	table#basket_list tr { 
		display: block; 
		border:none;
	}
	table#basket_list thead{
		display:none;
	}
	table#basket_list tr{
		display:flex;
		flex-wrap:wrap;
		align-items:center;
		border-bottom:thin solid grey;
		padding-bottom:15px;
	}
	table#basket_list .td-img{ width:15%; }
	table#basket_list .td-name{ width:60%; }
	table#basket_list .td-quant{ width:10%; }
	table#basket_list .td-quant::after{ content:' шт.' }
	table#basket_list .td-math{ padding-left:15% }
	table#basket_list .td-color{}
	table#basket_list .td-price{}
	table#basket_list .td-sum{}
	table#basket_list .td-del{}
}