.order_detail{
	border-collapse:collapse;
}
.order_detail th{
	padding-bottom:0.5em;
}
.order_detail td{
	padding:0.6em 1em;
	border-top:thin solid Grey;
}
.resume p{
	font-size:150%;
	line-height:160%;
}