


/* Start:/bitrix/components/VM/baners/templates/.default/style.css*/
#baners{
	padding-top:40px;
	width:980px;
	margin:0 auto;
	text-align:center;
}
.slides_container .baner {
	width:980px;
}
.slides_container {
	height:400px;
	overflow:hidden;
	position:relative;
}
#baners .pagination {
	margin: 12px 0;
	width: 980px;
	text-align: center;
	z-index: 137;
	position: relative;
}
#baners .pagination li {
	display:inline-block;
	list-style:none;
	margin:0 6px;
	width:19px;
	height:19px;
	padding:1px;
}
#baners .pagination li a {
	display:block;
	width:19px;
	height:19px;
	font-size:0
}
.baner{
	width:800px;
	height:400px;
	margin: 0 auto;
}

#baners .next,
#baners .prev {
	position:absolute;
	width:57px;
	height:58px;
	display:none;
	z-index:101;
	margin-top: -230px;
}
#baners:hover .next,
#baners:hover .prev{display:block}
#baners .next{
	left:50%;
	margin-left:410px
}
#baners .prev{
	left:50%;
	margin-left:-470px
}
#baners .next,
#baners .prev ,
#baners .pagination li a {background:url('/bitrix/components/VM/baners/templates/.default/images/sprite.png') no-repeat}

#baners .prev															{background-position:0 0}
#baners .next															{background-position:0 -58px}
#baners .next:active 													{background-position:0 -174px}
#baners .prev:active 													{background-position:0 -116px}
#baners .pagination li a 													{background-position:0 -257px}
#baners .pagination li.current a 											{background-position:0 -238px}

#baners .pagination li:before {content: none !important;}
/* End */



/* Start:/bitrix/components/VM/catalog.section/templates/top/style.css*/
/* VM.top */
.block_item{
	position:relative;
	width:235px;
	height:365px;
	display:inline-block;
	padding-top:14px;
	text-align:center;
	border:thin #e8e8e8 solid;
	margin-right:5px;
	vertical-align:top;
	background-color:#fff;
}
.block_item:hover{
	
}
.el_show_always{
	position:relative;
	z-index:10;
}
.el_show_hover{
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	background-color:#fff;
	border:thin #e8e8e8 solid;
	z-index:15;
	padding:14px;
}
.el_show_hover:hover{
}
.el_photo{
	width:240px;
	height:320px;
}
.el_block_price{
	position:relative;
	height:20px;
	padding:10px 15px;
	text-align:left;
}
.el_price{
	font-size:20px;
	font-weight:bold;
}
.el_old_price{
	position:absolute;
	top:-15px;
	left:0;
	font-size:15px;
	text-decoration:line-through;
	color:#666;
	background:#fff;
	padding:5px 8px 0 15px;
}
.el_sizes{
	position:absolute;
	right:15px;
	top:10px;
}
.el_size{
	font-size:12px;
	text-align:center;
	padding-top:3px;
	width:20px;
	height:17px;
	border:thin #ABABAB solid;
	display:inline-block;
}
.el_name{
	padding:0 14px;
	font-size:12px;
	font-weight:bold;
}
.el_specialoffer{
	position:absolute;
	top:270px;
	left:0;
	padding:5px 10px;
	background-color:#CC3300;
	color:#fff;
}
.el_already{
	position:absolute;
	top:310px;
	right:0;
	padding:5px 10px;
	background-color:#1A661A;
	color:#fff;
}
.el_colors{
	padding:0 15px;
	font-size:11px;
	margin:5px 0;
	text-align:left;
	vertical-align:top;
}
.el_color{
	width: 20px;
	height:20px;
	border: thin solid #999;
	overflow:hidden;
	display:inline-block;
}
.el_button_add,
.el_button_subscr,
.el_button_basket{
	font-size:14px;
	text-decoration:none;
	width:150px;
	margin: 10px auto;
	border-radius:3px;
	border:#B2B2CC solid 1px;
	padding:6px 20px;
}
.el_button_add{
	background:#CC0000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1D1E0), color-stop(100%,#990033));
	background:-webkit-linear-gradient(top, #CC0000 0%,#990033 100%);
	background:  -moz-linear-gradient(top, #CC0000 0%,#990033 100%);
	background:   -ms-linear-gradient(top, #CC0000 0%,#990033 100%);
	background:    -o-linear-gradient(top, #CC0000 0%,#990033 100%);
	background:       linear-gradient(to bottom, #CC0000 0%,#990033 100%);
	color:#fff;
}
.el_button_add:hover{
	background:#F0B2B2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1D1E0), color-stop(100%,#DB4D4D));
	background:-webkit-linear-gradient(top, #F0B2B2 0%,#DB4D4D 100%);
	background:  -moz-linear-gradient(top, #F0B2B2 0%,#DB4D4D 100%);
	background:   -ms-linear-gradient(top, #F0B2B2 0%,#DB4D4D 100%);
	background:    -o-linear-gradient(top, #F0B2B2 0%,#DB4D4D 100%);
	background:       linear-gradient(to bottom, #F0B2B2 0%,#DB4D4D 100%);
	color:#000;
}
.el_button_subscr{
	background:#D1D1E0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1D1E0), color-stop(100%,#B2B2CC));
	background:-webkit-linear-gradient(top, #D1D1E0 0%,#B2B2CC 100%);
	background:  -moz-linear-gradient(top, #D1D1E0 0%,#B2B2CC 100%);
	background:   -ms-linear-gradient(top, #D1D1E0 0%,#B2B2CC 100%);
	background:    -o-linear-gradient(top, #D1D1E0 0%,#B2B2CC 100%);
	background:       linear-gradient(to bottom, #D1D1E0 0%,#B2B2CC 100%);
	color:#5C0099;
}
.el_button_subscr:hover{
	background:#E0F0FF;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#E0F0FF), color-stop(100%,#ADD6FF));
	background:-webkit-linear-gradient(top, #E0F0FF 0%,#ADD6FF 100%);
	background:  -moz-linear-gradient(top, #E0F0FF 0%,#ADD6FF 100%);
	background:   -ms-linear-gradient(top, #E0F0FF 0%,#ADD6FF 100%);
	background:    -o-linear-gradient(top, #E0F0FF 0%,#ADD6FF 100%);
	background:       linear-gradient(to bottom, #E0F0FF 0%,#ADD6FF 100%);
	color:#000;
}
.el_button_basket{
	background:#2EB82E;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#2EB82E), color-stop(100%,#1A661A));
	background:-webkit-linear-gradient(top, #2EB82E 0%,#1A661A 100%);
	background:  -moz-linear-gradient(top, #2EB82E 0%,#1A661A 100%);
	background:   -ms-linear-gradient(top, #2EB82E 0%,#1A661A 100%);
	background:    -o-linear-gradient(top, #2EB82E 0%,#1A661A 100%);
	background:       linear-gradient(to bottom, #2EB82E 0%,#1A661A 100%);
	color:#fff;
}
.el_button_basket:hover{
	background:#C2F0C2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#C2F0C2), color-stop(100%,#85E085));
	background:-webkit-linear-gradient(top, #C2F0C2 0%,#85E085 100%);
	background:  -moz-linear-gradient(top, #C2F0C2 0%,#85E085 100%);
	background:   -ms-linear-gradient(top, #C2F0C2 0%,#85E085 100%);
	background:    -o-linear-gradient(top, #C2F0C2 0%,#85E085 100%);
	background:       linear-gradient(to bottom, #C2F0C2 0%,#85E085 100%);
	color:#000;
}

/*-------- pop up -------- */
#popup-box {
    position:fixed;
    border-radius: 15px;
    background: #fff;
    display: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    z-index: 105;
    font-size: 14px;
	border:5px solid #8b000b;
	padding:20px 40px;
	width:500px;
	top:200px;
}
#popup-box .close {
    position: absolute;
    top: 5px;
    right: 5px;
	width:25px;
	height:25px;
    background-image:url('/bitrix/components/VM/catalog.section/templates/top/images/cross.png');
	background-repeat:no-repeat;
	background-position:top left;
    cursor: pointer;
}
#popup-box .close:hover {
    background-position:bottom left;
}
#popup-box h2 {
    font-size: 1.8em;
	color:#8b000b;
	text-align:center;
}
#popup_tbl{
	width: 400px;
	margin:10px auto;
}
#popup_tbl th{
	text-align:left;
	border-bottom: thin solid #e5e5e5;
	padding-right:2em;
}
#popup_tbl td{
	text-align:left;
	border-bottom: thin solid #e5e5e5;
	padding:0.5em 0;
	font-size:1.1em;
}
#popup-box .bottom {
    background: #eee;
    border-top: 1px solid #e5e5e5;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#popup-box .button{
	position:relative;
    padding: 0.3em 1em;
	font-size:1em;
	text-align:center;
	width:180px;
	margin:1em auto;
	cursor:pointer;
	border: thin solid #e5e5e5;
}
#popup-box .button:hover{
     background: #e5e5e5;
}
#blackout {
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: -10px;
	left:-10px;
	width:115%;
	height:115%;
    overflow-Y: scroll;
    z-index: 100;
    display: none;
}
/*-------------- slides -------------*/
.top_slides{
	width:980px;
	margin:0 auto;
	text-align:left;
}
.top_slides .slides_container {
	position:relative;
}
.top_slide{
	width:980px;
}
.top_slides .pagination {
	margin: 0;
	width: 980px;
	text-align: center;
	z-index: 30;
	position: relative;
}
.top_slides .pagination li {
	display:inline-block;
	list-style:none;
	margin:0 6px;
	width:19px;
	height:19px;
	padding:1px;
}
.top_slides .pagination li a {
	display:block;
	width:19px;
	height:19px;
	font-size:0
}
.top_slides .next,
.top_slides .prev {
	position:absolute;
	width:57px;
	height:58px;
	display:none;
	z-index:101;
	margin-top: -230px;
}
.top_slides:hover .next,
.top_slides:hover .prev{display:block}
.top_slides .next{
	left:50%;
	margin-left:410px
}
.top_slides .prev{
	left:50%;
	margin-left:-470px
}
.top_slides .next,
.top_slides .prev ,
.top_slides .pagination li a {background:url('/bitrix/components/VM/catalog.section/templates/top/images/sprite.png') no-repeat}

.top_slides .prev															{background-position:0 0}
.top_slides .next															{background-position:0 -58px}
.top_slides .next:active 													{background-position:0 -174px}
.top_slides .prev:active 													{background-position:0 -116px}
.top_slides .pagination li a 													{background-position:0 -257px}
.top_slides .pagination li.current a 											{background-position:0 -238px}

.top_slides .pagination li:before {content: none !important;}
/* End */
/* /bitrix/components/VM/baners/templates/.default/style.css */
/* /bitrix/components/VM/catalog.section/templates/top/style.css */
