
/* Start:/bitrix/components/VM/catalog.section.list/templates/.default/style.css*/
.action_block{
	width:300px;
	border:thin dotted #D3D3D3;
	border-radius: 5px;
	padding:20px;
	margin:20px;
	display:inline-block;
	}
.action_block:hover{
		background:#F3F3F3;
	}
a{
	color:#666;
	text-decoration:none;
	}
/* End */
