
/* Start:/bitrix/components/VM/catalog/templates/.default/style.css*/
.grid{}
.grid .bx_content_section{
	margin-bottom: 15px;
}
.grid .bx_sidebar{
	margin-bottom: 15px;
}

/* grid2x1 */
.grid2x1{}
.grid2x1 .bx_content_section{
	float: left;
	width: 66%;
	margin-bottom: 15px;
}
.grid2x1 .bx_sidebar{
	float: right;
	width: 33%;
	margin-bottom: 15px;
	padding-left: 5%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width:960px){
	.grid2x1 .bx_sidebar{
		padding-left: 4%;
	}
}
@media (max-width:640px) {
	.grid2x1 .bx_content_section,
	.grid2x1 .bx_sidebar{
		width: 100%;
		float: none;
	}
	.grid2x1 .bx_sidebar{
		padding-left: 3%;
	}
}
@media (max-width:479px){
	.grid2x1 .bx_sidebar{
		padding-left: 1%;
	}

}
/* End */

/* Start:/bitrix/components/VM/catalog.section/templates/.default/style.css*/
/* VM.section */
h1 span.title{
	color:#8b000b;
	font-size:40px;
}
.page_text{
	font-size:26px;
	margin:1.5em 0;
}

.block_item{
	position:relative;
	width:240px;
	display:inline-block;
	padding-top:14px;
	text-align:center;
	border:thin #e8e8e8 solid;
	margin:5px 5px 0 0;
	overflow:hidden;
	background-color:#fff;
}
/*
.block_item:hover{
	border:thin #e8e8e8 solid;
	height:470px;
}
*/
.el_show_always{
	position:relative;
}
.el_show_hover{
	display:none;
}
.el_show_hover:hover{
}
.el_photo{
	width:240px;
	height:320px;
}
.el_block_price{
	position:relative;
	height:20px;
	padding:10px 15px;
	text-align:left;
}
.el_price{
	font-size:20px;
	font-weight:bold;
}
.el_old_price{
	position:absolute;
	top:-15px;
	left:0;
	font-size:15px;
	text-decoration:line-through;
	color:#666;
	background:#fff;
	padding:5px 8px 0 15px;
}
.el_sizes{
	position:absolute;
	right:15px;
	top:10px;
}
.el_size{
	font-size:12px;
	text-align:center;
	padding-top:3px;
	width:20px;
	height:17px;
	border:thin #ABABAB solid;
	display:inline-block;
}
.el_name{
	padding:0 14px;
	font-size:12px;
	font-weight:bold;
}
.el_newproduct{
	padding:5px 8px;
	background-color:#7dff00;
	color:black;
	font-size:12px;
	position:absolute;
	top:30px;
	right:0;
}
.el_saleleader{
	padding:5px 8px;
	background-color:#a2d6ff;
	color:black;
	font-size:12px;
	position:absolute;
	top:200px;
	left:0;
}
.el_specialoffer{
	position:absolute;
	top:270px;
	left:0;
	padding:5px 10px;
	background-color:#CC3300;
	color:#fff;
}
.el_already{
	position:absolute;
	top:310px;
	right:0;
	padding:5px 10px;
	background-color:#1A661A;
	color:#fff;
}
.el_colors{
	padding:0 15px;
	font-size:11px;
	margin:5px 0;
	text-align:left;
	vertical-align:top;
}
.el_color{
	width: 20px;
	height:20px;
	border: thin solid #999;
	overflow:hidden;
	display:inline-block;
}
.el_button_add,
.el_button_subscr,
.el_button_basket{
	font-size:14px;
	text-decoration:none;
	width:150px;
	margin: 10px auto;
	border-radius:3px;
	border:#B2B2CC solid 1px;
	padding:6px 20px;
}
.el_button_add{
	background:#CC0000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1D1E0), color-stop(100%,#990033));
	background:-webkit-linear-gradient(top, #CC0000 0%,#990033 100%);
	background:  -moz-linear-gradient(top, #CC0000 0%,#990033 100%);
	background:   -ms-linear-gradient(top, #CC0000 0%,#990033 100%);
	background:    -o-linear-gradient(top, #CC0000 0%,#990033 100%);
	background:       linear-gradient(to bottom, #CC0000 0%,#990033 100%);
	color:#fff;
}
.el_button_add:hover{
	background:#F0B2B2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1D1E0), color-stop(100%,#DB4D4D));
	background:-webkit-linear-gradient(top, #F0B2B2 0%,#DB4D4D 100%);
	background:  -moz-linear-gradient(top, #F0B2B2 0%,#DB4D4D 100%);
	background:   -ms-linear-gradient(top, #F0B2B2 0%,#DB4D4D 100%);
	background:    -o-linear-gradient(top, #F0B2B2 0%,#DB4D4D 100%);
	background:       linear-gradient(to bottom, #F0B2B2 0%,#DB4D4D 100%);
	color:#000;
}
.el_button_subscr{
	background:#D1D1E0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1D1E0), color-stop(100%,#B2B2CC));
	background:-webkit-linear-gradient(top, #D1D1E0 0%,#B2B2CC 100%);
	background:  -moz-linear-gradient(top, #D1D1E0 0%,#B2B2CC 100%);
	background:   -ms-linear-gradient(top, #D1D1E0 0%,#B2B2CC 100%);
	background:    -o-linear-gradient(top, #D1D1E0 0%,#B2B2CC 100%);
	background:       linear-gradient(to bottom, #D1D1E0 0%,#B2B2CC 100%);
	color:#5C0099;
}
.el_button_subscr:hover{
	background:#E0F0FF;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#E0F0FF), color-stop(100%,#ADD6FF));
	background:-webkit-linear-gradient(top, #E0F0FF 0%,#ADD6FF 100%);
	background:  -moz-linear-gradient(top, #E0F0FF 0%,#ADD6FF 100%);
	background:   -ms-linear-gradient(top, #E0F0FF 0%,#ADD6FF 100%);
	background:    -o-linear-gradient(top, #E0F0FF 0%,#ADD6FF 100%);
	background:       linear-gradient(to bottom, #E0F0FF 0%,#ADD6FF 100%);
	color:#000;
}
.el_button_basket{
	background:#2EB82E;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#2EB82E), color-stop(100%,#1A661A));
	background:-webkit-linear-gradient(top, #2EB82E 0%,#1A661A 100%);
	background:  -moz-linear-gradient(top, #2EB82E 0%,#1A661A 100%);
	background:   -ms-linear-gradient(top, #2EB82E 0%,#1A661A 100%);
	background:    -o-linear-gradient(top, #2EB82E 0%,#1A661A 100%);
	background:       linear-gradient(to bottom, #2EB82E 0%,#1A661A 100%);
	color:#fff;
}
.el_button_basket:hover{
	background:#C2F0C2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#C2F0C2), color-stop(100%,#85E085));
	background:-webkit-linear-gradient(top, #C2F0C2 0%,#85E085 100%);
	background:  -moz-linear-gradient(top, #C2F0C2 0%,#85E085 100%);
	background:   -ms-linear-gradient(top, #C2F0C2 0%,#85E085 100%);
	background:    -o-linear-gradient(top, #C2F0C2 0%,#85E085 100%);
	background:       linear-gradient(to bottom, #C2F0C2 0%,#85E085 100%);
	color:#000;
}
/* ========= FILTR =========== */
#filtr{
	background:#E0EBEB;
	border:thin dotted #3D0000;
	position:relative;
	margin-bottom:25px;
	padding:15px 25px;
	vertical-align:top;
	font-size:14px;
}
.filtr_on,
.fltr_item{
	margin-right:5px;
	float:left;
}
#button_on{
	width:75px;
	height:32px;
	background-image: url('/bitrix/components/VM/catalog.section/templates/.default/images/button_on.png');
	background-repeat:no-repeat;
    cursor: pointer;
}
.on{
	background-position:bottom left;
}
.off{
	background-position:top left;
}
.fltr_item{
	background-color:#F0F5F5;
	cursor:pointer;
}
.fltr_item:hover{
	background-color:#E0E0D1;
	color:#000;
}
.fltr_item_name{
	padding:18px 20px;
	font-weight:bold;
	font-size:1.5em;
}
.filtr_item_name_status{
	font-weight:normal;
	font-size:0.65em;
}
.fltr_item_options{
	padding:0 20px 18px 20px;
	display:none;
}
.fltr_item_options ul,
.fltr_item_options  li{
	list-style:none;
	margin:0;
	padding:0;
}
.fltr_sizes{
}
.filtr_size{
}
.fltr_colors{
	padding-left:25px;
}
.filtr_color{
	
}
.filtr_buttons{
	
}
.f_color_plate{
	width:15px;
	height:15px;
	margin-right:3px;
	border: thin solid #999;
	vertical-align:text-top;
}
/*-------- pop up -------- */
#popup-box {
    position:fixed;
    border-radius: 15px;
    background: #fff;
    display: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    z-index: 105;
    font-size: 14px;
	border:5px solid #8b000b;
	padding:20px 40px;
	width:500px;
	top:200px;
}
#popup-box .close {
    position: absolute;
    top: 5px;
    right: 5px;
	width:25px;
	height:25px;
    background-image:url('/bitrix/components/VM/catalog.section/templates/.default/images/cross.png');
	background-repeat:no-repeat;
	background-position:top left;
    cursor: pointer;
}
#popup-box .close:hover {
    background-position:bottom left;
}
#popup-box h2 {
    font-size: 1.8em;
	color:#8b000b;
	text-align:center;
}
#popup_tbl{
	width: 400px;
	margin:10px auto;
}
#popup_tbl th{
	text-align:left;
	border-bottom: thin solid #e5e5e5;
	padding-right:2em;
}
#popup_tbl td{
	text-align:left;
	border-bottom: thin solid #e5e5e5;
	padding:0.5em 0;
	font-size:1.1em;
}
#popup-box .bottom {
    background: #eee;
    border-top: 1px solid #e5e5e5;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#popup-box .button{
	position:relative;
    padding: 0.3em 1em;
	font-size:1em;
	text-align:center;
	width:180px;
	margin:1em auto;
	cursor:pointer;
	border: thin solid #e5e5e5;
}
#popup-box .button:hover{
     background: #e5e5e5;
}
#blackout {
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: -10px;
	left:-10px;
	width:115%;
	height:115%;
    overflow-Y: scroll;
    z-index: 100;
    display: none;
}
/* End */
